body{
    background: url(../assets/img/caminhaoFundoAzul.jpeg) no-repeat center top fixed; 
    background-size: cover;
    max-width: 100vw;
    padding: 0;
    margin: 0 auto !important;
}

.imgLogo {
    height: auto;
    max-width: 200px;
}

.xnavbar {
    height: 50px;
}



